<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>

    </link>
    <a href="/about">About</a>
    <a href="/weather">Weather</a>

</head>

<body>
    <div>Header Panel</div>